body{
	
	background-image:url("mara.jpg");
		background-attachment:fixed;
	background-size:cover;	
		overflow : hidden;
	font-family:arial;
	
}
#rbody{
	
	width: 50% ;
		height: 100% ;
	overflow : scroll ;
		
}
#rbody::-webkit-scrollbar{ /*hide scrolbar in rbody div */
	
	display : none ; 
	
}