body{
		
	background-image:url("mara.jpg");
		background-attachment:fixed;
	background-size:cover;	
		overflow : hidden;
	font-family:astroarmada;
		
}
#navbar{
	
		
	left:2px;
		z-index:2;
	background-color:white;
		top:0;
	width:100%;
		position:fixed;
	margin-right:auto;
		height:8%;
	
}
#navbar h1{ 

	float:left;

}
#navbar table{
		
		float:right;
	padding-top:20px;
	
}
#navbar tr { border:black solid 4px; }
#navbar tr th{
	border:black solid 4px;
	position:relative;
	text-align:center;
	font-size:30px;
	float:left;
	padding-top:38px;
	bottom:22px;	
		
}
#home:hover {
	
	background-color: rgba(90, 18, 42, 1);
		border:rgba(90, 18, 42, 1) solid 4px;
		
}
#dev:hover {
	
	background-color: rgba(90, 18, 42, 1);
		color:#21b3d2; 
	border:rgba(90, 18, 42, 1) solid 4px;
	
}
#pro:hover {
	
	background-color: rgba(90, 18, 42, 1);
		color:#21b3d2; 
	border:rgba(90, 18, 42, 1) solid 4px;
	
}
#about:hover {
	
	background-color: rgba(90, 18, 42, 1);
		color:#21b3d2; 
	border:rgba(90, 18, 42, 1) solid 4px;
	
}
img{
	
	size:cover;
		position:fixed;
	right:0px;
		top:0px;
	pointer-events: none;
		z-index:1;
	
	
}
#rbody{
	
		margin-top:74px;
	position:fixed;
		z-index:0;
	width: 50% ;
		height: 100% ;
	overflow : scroll ;
		font-family:nasalization-rg;
	background-color: rgba(90, 18, 42, 0.5);
		border:red solid 4px;
	border-radius: 40px 0px 0px 0px;
		color:#21b3d2;
	
}
#rbody h1{
	
	color:yellow;
	
}
#iframe{
	
	text-align:center;
	
}
#rbody::-webkit-scrollbar{ /*hide scrolbar in rbody div */
	
	display : none ; 
	
}
#navtab a{
	
	color:black;
			
}
#navtab th:hover a{
	
	color:#21b3d2; 
}
a{
	color:yellow;
	text-decoration:none;
}


/* FONTS  */

@font-face /* tekst */													/* -is anybody here ? */
{

font-family: nasalization-rg; 										/* -... */
	src:url(nasalization-rg.ttf);

}
@font-face /* titles  */									/* i dont think so...-  */
{

font-family: astroarmada;												/* -...  */
	src:url(astroarmada.ttf);											/* ...-  */

}


/* n.html */

.animation{
					position:absolute;
				background-image:url("xmas.jpg");	
					width:200px;
				height:200px;
					color:red;
				background-size:200px 200px;
			}
